<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>dniwebprofe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalculaLetraDni</display-name>
    <servlet-name>CalculaLetraDni</servlet-name>
    <servlet-class>talento.dni.CalculaLetraDni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculaLetraDni</servlet-name>
    <url-pattern>/CalculaLetraDni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoDni</display-name>
    <servlet-name>ServletListadoDni</servlet-name>
    <servlet-class>talento.dni.controlador.ServletListadoDni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoDni</servlet-name>
    <url-pattern>/ServletListadoDni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBorrarDni</display-name>
    <servlet-name>ServletBorrarDni</servlet-name>
    <servlet-class>talento.dni.controlador.ServletBorrarDni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBorrarDni</servlet-name>
    <url-pattern>/ServletBorrarDni</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>talento.dni.controlador.InicioFinAppWeb</listener-class>
  </listener>
</web-app>