<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>talento.login.controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaNuevoUsuario</display-name>
    <servlet-name>AltaNuevoUsuario</servlet-name>
    <servlet-class>talento.login.controlador.AltaNuevoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaNuevoUsuario</servlet-name>
    <url-pattern>/AltaNuevoUsuario</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>talento.login.controlador.EscuchaInicioFinLogin</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ObtenerPerfil</display-name>
    <servlet-name>ObtenerPerfil</servlet-name>
    <servlet-class>talento.login.controlador.ObtenerPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPerfil</servlet-name>
    <url-pattern>/ObtenerPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerFoto</display-name>
    <servlet-name>ObtenerFoto</servlet-name>
    <servlet-class>talento.login.controlador.ObtenerFoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerFoto</servlet-name>
    <url-pattern>/ObtenerFoto</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroPerfil</display-name>
    <filter-name>FiltroPerfil</filter-name>
    <filter-class>talento.login.controlador.FiltroPerfil</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroPerfil</filter-name>
    <url-pattern>/FiltroPerfil</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PruebaSesion</display-name>
    <servlet-name>PruebaSesion</servlet-name>
    <servlet-class>talento.login.controlador.PruebaSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaSesion</servlet-name>
    <url-pattern>/PruebaSesion</url-pattern>
  </servlet-mapping>
</web-app>